# Ignore these files anywhere in the tree
*.[aox]
*.so
*.mod
*.pyc
*.v3breakpoints
*.swp
*.sublime-workspace
*~

#Ignore the contents of these directories
jedicmake/
eckit/
fckit/
atlas/
oops/
ioda?engines/
ioda/
ioda?converters/
iodaconv/

build/
install/
